div.ui.fluid.container > .ui.segment {
  margin: 0 !important;
  padding-top: 7em !important;
  padding-bottom: 4em !important;
}

#uploader-container {
  padding: 1em !important;
}

#thumbs-up {
  cursor: pointer;
  transition: 0.2s all;
}

#thumbs-up:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 767px) {
  .ui.fluid.container .ui.stackable.top.fixed.menu .right.menu.not-stackable {
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .ui.container .ui.stackable.top.fixed.menu .right.menu.not-stackable .item {
    width: auto !important;
  }
  .ui.container
    .ui.stackable.top.fixed.menu
    .right.menu.not-stackable
    .item::before {
    content: none;
  }
  .ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .ui.stackable.menu {
    margin-bottom: 0 !important;
  }

  div.ui.fluid.container > .ui.segment {
    padding-top: 3em !important;
  }
}

@media only screen and (max-width: 1000px) {
  .ui.vertical.computer.only.menu {
    display: none;
  }
}

div.ten.wide.column p {
  color: rgba(255, 255, 255, 0.5);
}
